#about-me {
  img {
    border-radius: 50%;
    width: 100%;
    padding: 20px;
  }

  .about-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
  }

  .about-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
  }

  .about-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .about-box div:last-child {
    text-align: center;
    border: 0;
  }

  .about-box ul {
    list-style: none;
  }

  .about-box ul li {
    padding: 5px 0;
  }

  .years-of-experience {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: $orange;
  }

  .years-of-experience .small {
    font-size: 30%;
    font-weight: 300;
  }

  .small-text {
    font-size: 80%;
  }

  .contact {
    margin: 10px 0;
  }
}
