#latest-tech {
  box-shadow: 8px 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  padding: 30px 0;
  margin: 30px 0;

  // TODO: consider building your own arrows https://codepen.io/anon/pen/qNbWwK
  .slick-prev:before {
    color: $dark-gray;
  }

  .slick-next:before {
    color: $dark-gray;
  }

  .slick-prev {
    left: 25px !important;
  }

  .slick-next {
    right: 25px !important;
  }
}
